<div class="container-fluid">
	<div class="row">
		<div class="pending-homepage employee-blocks">
		<h3>Pending Your Confirmation</h3>

		<%= render partial: 'pending_audit_confirmations',
		locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
		</div>
		
		<div class="col-md-5 pending-homepage employee-blocks">
		<%= 'hello there, nice employee'.titleize %>
		</div>

	</div>
</div>