<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 jumbotron employee-blocks">
		<%= 'hello there, nice employee'.titleize %>
		</div>

		<div class="col-md-5 jumbotron employee-blocks">
		<%= 'hello there, nice employee'.titleize %>
		</div>
	</div>
</div>