.pending-homepage {
	background-color: #E3E3E3;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
}

.homepage-block {
	background-color: #1D3C91;
	color: #FFFFFF;
	margin: 12px 42px 12px 42px;
	padding: 15px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pending-details {
	font-weight: 900;
}