@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts.scss';
@import 'gritter';
@import 'bourbon';
@import 'admin_homepage';
@import 'employee_homepage';

.custom-nav {
	margin-top: 15px;
}