@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts.scss';
@import 'gritter';
@import 'bourbon';
@import 'admin_homepage';
@import 'employee_homepage';

.custom-nav {
	margin-top: 15px;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}